.table-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
mat-table {
  width: 80%;
}
.element-center {
  justify-content: center;
}
.div-style-button {
  padding-top: 5%;
}
